numpy>=1.21
pandas>=1.3
transformers[torch]>=4.30

### uncomment for CPU-only (comment the others)
# --find-links https://download.pytorch.org/whl/cpu

### uncomment for CUDA 12.1 on Linux (comment the others)
# --find-links https://download.pytorch.org/whl/cu121

### for CUDA 11.8 on Linux
--find-links https://download.pytorch.org/whl/cu118
torch>=2.3; python_version >= "3.8"

### CUDA 11.7 for Python < 3.8
--find-links https://download.pytorch.org/whl/cu117
torch>=1.13
